/apple_executable_files.pl
/apple_executable_files_entitlements.pl
/apple_executable_files_strings.pl
/executable_files.pl
/file_metadata.pl
/filetypes.pl
/groups.pl
/process_ownership.pl
/sandbox_profile_mappings.pl
/users.pl
